@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: blue;
    font-family: 'Press Start 2P', cursive;
}

#upsImage {
    max-width: 100%; 
    max-height: 100%; 
    display: block; /* Makes the image a block-level element (takes full width) */
    margin: 0 auto; /* Center the image horizontally (optional) */
    margin-top: 200px;
    margin-bottom: 10px;
}

.requestedFile {
    color: yellow;
    text-align: center;
}
