@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: red;
    font-family: 'Press Start 2P', cursive;
}

.MovedIn {
    text-align: center;
    color: yellow;
}

.searchSection {
    margin-top: 40px;
}

.centered-elements {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    border: 2px solid white; 
    padding: 20px; 
    max-width: 400px;
    margin: 0 auto;
}

.pokeList {
    list-style: none;
}

.navigation-links {
    display: flex; /* flexbox for horizontal alignment */
    gap: 30px; 
}

.prevPage,
.nextPage {
    text-decoration: none; 
    color: yellow; 
}

/* Rounding the edges of the input and button */
.pokemon__search, button {
    border-radius: 10px; 
    margin-top: 30px;
}

.pokemon__search, button {
    padding: 10px; /* Padding added to make the input and button look more visually appealing */
}

/* Styling the button to have a background color and change color on hover */
button {
    background-color: #007BFF; 
    color: black; 
    transition: background-color 0.3s ease; /* Color transition when the mouse hovers */
}

button:hover {
    background-color: yellow; 
}

.searchSection {
    text-align: center;
}